@charset "utf-8";

@font-face {
    font-family: "Noto Sans Bold";
    src: url("../font/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans Regular";
    src: url("../font/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans JP Bold";
    src: url("../font/NotoSansJP-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans JP Regular";
    src: url("../font/NotoSansJP-Regular.ttf") format("truetype");
}

body {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
}

.container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* ヘッダー */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

header .navi {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 14px calc(50vw - 50%) 13px;
    height: auto;
    background-color: #333;
}

header .navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header .navi ul li {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

header .navi ul li:nth-child(1) {
    padding-right: 61px;
}

header .navi ul li:nth-child(2) {
    padding-right: 59px;
}

header .navi ul li:nth-child(3) {
    padding-right: 59px;
}

header .navi ul li:nth-child(4) {
    padding-right: 59px;
}

header .navi ul li:nth-child(5) {
    padding-right: 60px;
}

/* ピックアップエリア */
.pickup_area {
    display: flex;
    margin-top: 150px;
}

.pickup_area figcaption {
    padding-top: 13px;
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-size: 16px;
    text-align: left;
    color: #333;
    line-height: 1.5;
}

.pickup_area img {
    aspect-ratio: 16 / 9;
    max-width: 100%;
}

.pickup_area a {
    font-size: 14px;
    text-align: center;
    color: #333;
    padding-top: 21px;
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.pickup_area a:hover {
    text-decoration: none;
}

.pickup_area_div1 {
    padding-right: 23.3px;
    text-align: center;
}

.pickup_area_div2 {
    padding-right: 23.5px;
    text-align: center;
}

.pickup_area_div3 {
    text-align: center;
}

/* メイン　サイドバー　エリア　*/
/* メインエリア */
.main_side_area {
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
}

.main_area {
    width: 759px;
    margin-right: 50px;
}

.main_title {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 27px;
    line-height: calc(29 / 24);
}

.main_title_space {
    margin-top: 84.5px;
}

.main_title_date {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    float: left;
    margin-right: 32px;
}

.main_category {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    display: inline-block;
    vertical-align: top;
}

.main_image img {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    margin-top: 13px;
}

.main_image figcaption {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    color: #333;
    padding-top: 13px;
    padding-left: 41px;
    padding-right: 41px;
}

.main_image a {
    font-size: 14px;
    text-align: center;
    color: #333;
    padding-top: 21px;
    display: block;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.main_image a:hover {
    text-decoration: none;
}

/* サイドバーエリア */

.side_area {
    width: 345px;
}

.author {
    text-align: center;
    margin-bottom: 35px;
}

.author img {
    width: 130px;
    height: 130px;
    background: #dedede;
    border-radius: 50%;
}

.author_content {
    margin-bottom: 57px;
}

.author_name {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 37px;
}

.author_text {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
}

.ranking_title {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 34px;
}

.ranking_content img {
    aspect-ratio: 16 /9;
    max-width: 100%;
}

.ranking_content p {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    margin-top: 3px;
}

.ranking_space {
    margin-bottom: 31px;
}

/* サイドバーアーカイブ */
.archive_title {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 34px;
    margin-top: 66px;
}

.archive_nav {
    padding-left: 0;
}

.archive_nav li {
    list-style: none;
    border-top: 1px solid #777;
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 20px;
}

.archive_nav li:last-child {
    border-bottom: 1px solid #777;
}

footer {
    width: 100vw;
    margin: 140px calc(50% - 50vw) 0;
    padding: 55px calc(50vw - 50%) 0px;
    background: #f7f7f7;
}

.footer_contents {
    display: flex;
    justify-content: space-between;
}

.about {
    width: 345px;
    margin-right: 71px;
}

.about_title {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #333;
    margin-bottom: 37px;
}

.about_sentence {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5;
}

.about_link {
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    margin-bottom: 12px;
}

.menu {
    width: 350px;
    margin-right: 53px;
}

.menu_title {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #333;
    margin-bottom: 34px;
}

.menu_navi {
    padding-left: 0;
}

.menu_navi li {
    border-top: 1px solid #777;
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #333;
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 15px;
}

.menu_navi:last-child {
    border-bottom: 1px solid #777;
}

.twitter {
    width: 347px;
}

.twitter_title {
    font-family: "Noto Sans Bold", "Noto Sans JP Bold";
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #333;
    margin-bottom: 34px;
}

.copyright {
    margin-top: 64px;
    font-family: "Noto Sans Regular", "Noto Sans JP Regular";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #333;
}

/* メディアクエリ　*/
@media screen and (max-width: 767px) {
    /* ピックアップエリア */
    .pickup_area {
        display: block;
        margin-top: 150px;
    }

    .pickup_area_div1 {
        padding-right: 0;
    }
    
    .pickup_area_div2 {
        padding-right: 0;
        padding-top: 30px;
    }

    .pickup_area_div3 {
        padding-top: 30px;
    }

    /* メイン　サイドバー　エリア */
    .main_side_area {
        display: block;
    }

    .main_area {
        width: auto;
        margin-right: 0;
    }

    /* サイドバーエリア */
    .side_area {
        width: auto;
        margin-top: 85px;
    }

    .archive_nav li {
        padding-left: 36px;
    }

    /* フッター */
    .footer_contents {
        display: block;
    }

    .about {
        width: auto;
        margin-right: 8px;
    }

    .menu {
        width: auto;
        margin-right: 0;
        margin-top: 59px;
    }

    .twitter {
        margin-top: 35px;
        width: auto;
    }
}